/Arquitectura de Software/TI1.1 SOAP_JAVA_CONUNI_GRU1/01.SERVIDOR/WS_ConvUni_SOAPJAVA_GR01/nbproject/private/
/Arquitectura de Software/TI1.1 SOAP_JAVA_CONUNI_GRU1/01.SERVIDOR/WS_ConvUni_SOAPJAVA_GR01/build/
/Arquitectura de Software/TI1.1 SOAP_JAVA_CONUNI_GRU1/01.SERVIDOR/WS_ConvUni_SOAPJAVA_GR01/dist/