/Arquitectura de Software/TI1.1 SOAP_JAVA_CONUNI_GRU1/01.SERVIDOR/WS_ConvUni_SOAPJAVA_GR01/nbproject/private/
/Arquitectura de Software/TI1.1 SOAP_JAVA_CONUNI_GRU1/01.SERVIDOR/WS_ConvUni_SOAPJAVA_GR01/build/
/Arquitectura de Software/TI1.1 SOAP_JAVA_CONUNI_GRU1/01.SERVIDOR/WS_ConvUni_SOAPJAVA_GR01/dist/
/Arquitectura de Software/TI1.1 SOAP_JAVA_CONUNI_GRU1/02.CLIESC/CE_ConvUni_SOAPJAVA_GR01/nbproject/private/
/Arquitectura de Software/TI1.1 SOAP_JAVA_CONUNI_GRU1/02.CLIESC/CE_ConvUni_SOAPJAVA_GR01/dist/
/Arquitectura de Software/TI1.1 SOAP_JAVA_CONUNI_GRU1/02.CLIESC/CE_ConvUni_SOAPJAVA_GR01/build/
/Arquitectura de Software/01.PARCIAL/P1 SOAP_JAVA/WS_BanQuito_SOAPJAVA_GR01/nbproject/private/
/Arquitectura de Software/01.PARCIAL/P1 SOAP_JAVA/BanQuitoCore/nbproject/private/
/Arquitectura de Software/01.PARCIAL/P1 SOAP_JAVA/01.SERVICIO/WS_Comercializador_SOAPJAVA_GR01/nbproject/private/
/Arquitectura de Software/01.PARCIAL/P1 SOAP_JAVA/01.SERVICIO/WS_BanQuito_SOAPJAVA_GR01/build/
/Arquitectura de Software/01.PARCIAL/P1 SOAP_JAVA/01.SERVICIO/WS_BanQuito_SOAPJAVA_GR01/dist/
/Arquitectura de Software/01.PARCIAL/P1 SOAP_JAVA/01.SERVICIO/WS_Comercializador_SOAPJAVA_GR01/build/
/Arquitectura de Software/01.PARCIAL/P1 SOAP_JAVA/01.SERVICIO/WS_Comercializador_SOAPJAVA_GR01/dist/
/Arquitectura de Software/01.PARCIAL/P1 SOAP_JAVA/01.SERVICIO/WS_BanQuito_SOAPJAVA_GR01/nbproject/private/
/Arquitectura de Software/01.PARCIAL/TI1.4 REST_DOTNET_CONUNI_GRU1/02.CLIWEB/CE_ConvUni_RESTDOTNET_GR01/nbproject/private/
/Arquitectura de Software/01.PARCIAL/TI1.4 REST_DOTNET_CONUNI_GRU1/02.CLIWEB/CE_ConvUni_RESTDOTNET_GR01/build/
/Arquitectura de Software/01.PARCIAL/TI1.4 REST_DOTNET_CONUNI_GRU1/02.CLIWEB/CE_ConvUni_RESTDOTNET_GR01/dist/